.header {
    display: grid;
    gap: 5px;
    padding: 92px 24px;
    font-size: 18px;
    letter-spacing: 0.18px;
    grid-template: 105px / 3fr 1fr 1fr 2fr;
}

.header__menu {
    align-self: center;
    padding: 25px;
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 31px;
    margin: 0;
    line-height: 22px;
    letter-spacing: 0.18px;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type:none;
}

.header__links-list-item .header__link_active {
    text-decoration: none;

}

.header__logo {
    display: flex;
    
}

.address {
    font-style: normal;
    line-height: 24.3px;
}

.header__address {
    grid-column: 4 /5;
    align-self: center;
    padding: 0 30px;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 757px;
    padding: 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}

.cover__title {
    z-index: 1;
    margin-top: 115px;
    color: #FFF;
    font-weight: bold;
    font-size: 100px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    line-height: 115px;
}

.aligned-text_center {
    line-height: 140px;
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    color: #FFF;
    line-height: 28px;
    text-transform: uppercase;
}

.cover__description-text {
    margin: 10px 27px;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    word-spacing: 19px;

}

.bet-button {
    border: 1px solid #FFF;
    padding: 12px 32px;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    height: 692px;
    margin-top: 180px;
    padding: 0 12.5px;
}

.lots__heading {
    margin-left: 51.5px;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    list-style-type: none;

}

.lots__card-list-item {
    flex-grow: 1;
    flex-basis: 334px;
    min-height: 563px;
    margin: 27px 12.5px 29px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 39px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}

.card__title {
    z-index: 1;
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    font-style: normal;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    z-index: 1;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
}

.lots__look-more-link {
    margin-left: 51.5px;
    color: #000;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 100%;
    height: 595px;
    margin-top: 146px;
    padding: 0 25px;
}

.about__column-logo {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.about__column-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 25px;
}


.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    margin-bottom: 100px;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    color: #000;
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    line-height: 23.7px;
    margin-bottom: 25px;
    max-width: 693px;
}

.about__text:last-child {
    margin-bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: 240px 150px 240px;
    justify-content: space-between;
    height: 98px;
    margin: 180px 25px 90px;
    padding: 2px 25px 0;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list-item {
    list-style-type: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
}

.footer__social-list-item {
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}