.header {
    display: grid;
    gap: 5px;
    grid-template: 105px / 3fr 1fr 1fr 2fr;
    padding: 92px 24px;
    font-size: 18px;
    letter-spacing: 0.18px;
    background-color: aqua;
}

.header__menu {
    align-self: center;
    padding: 25px;
}

.header__links-list {
    list-style-type: circle;
    display: flex;
    gap: 31px;
    justify-content: start;
    margin: 0;
    line-height: 22px;
    letter-spacing: 0.18px;
}

.header__links-list-item_no-bullit {
    list-style-type:none;
}

.header__links-list-item .header__link_active {
    text-decoration: none;

}

.header__logo {
    display: flex;
    
}

.header__contacts {
    grid-column: 4 /5;
    align-self: center;
}

.header__contacts-list {
    display: flex;
    flex-direction: column;
    align-items:start;
    list-style-type:none;
    padding: 0 30px;
    line-height: 24.3px;
}

.header__address {
    font-style: normal;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 757px;
    padding: 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: 0;
}

.cover__title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 115px;
    z-index: 1;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    line-height: 115px;
}

.aligned-text_center {
    text-align: center;
    line-height: 140px;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: #FFF;
    line-height: 28px;
    text-transform: uppercase;
    height: 100%;
    z-index: 1;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    word-spacing: 19px;
    margin: 10px 27px;

}

.bet-button {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 12px 32px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.lots {
    height: 692px;
    background-color: bisque;
    margin: 180px 0 56px;
    padding: 0 12.5px;
}

.lots__heading {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 51.5px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;

}

.lots__card-list-item {
    flex-basis: 334px;
    flex-grow: 1;
    min-height: 563px;
    margin: 27px 12.5px 29px;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 39px;
    justify-content: space-between;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}

.card__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 120%;
    z-index: 1;
}

.lots__look-more-link {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-left: 51.5px;
}
